<div class="container-fluid">
  <h1>Profile</h1>

  <label>{{username}}</label>
  <input [(ngModel)]="firstName"
         placeholder="First Name"
         class="form-control"/>
  <input [(ngModel)]="lastName"
         placeholder="Last Name"
         class="form-control"/>
  <input [(ngModel)]="email"
         placeholder="Email"
         class="form-control"/>
  <input [(ngModel)]="phone"
         placeholder="Phone Number"
         class="form-control"/>
  <input [(ngModel)]="address"
         placeholder="Address"
         class="form-control"/>
  <button (click)="updateUser()"
          class="btn btn-primary btn-block">
    Update
  </button>

  <h2>Sections ({{sections.length}})</h2>

  <ul class="list-group">
    <li *ngFor="let enrollment of sections" class="list-group-item">
      {{findCourseNameById(enrollment.section.courseId)}}
      {{courseName}}
      {{enrollment.section.name}}
      ({{enrollment.section.seats}})
      <div class="float-right">
      <button (click)="unEnroll(enrollment.section)"
        class="btn btn-danger">
        Unenroll
      </button>
      </div>
    </li>
  </ul>
  <button class="btn btn-primary" (click)="logout()">Logout </button>
  <a routerLink="/home">Home | </a>
  <a *ngIf="username === 'admin';" routerLink="/user-admin">User Admin Page</a>
</div>
